/.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# VSCode / PyCharm
.vscode/
.idea/

# Virtual environments
venv/
.env

# OS files
.DS_Store

# Docker
*.log

# MongoDB dump/output (if any)
dump/
